@charset "UTF-8";


/**
 * Spinners colours
 * ---------------------------------------------------------
 */


/* Blue loaders in white background */

.section--white {
    color: #00539f;
    background: #fff;
}

.section--white .loader--spinner div:after,
.section--white .loader--roller div:after,
.section--white .loader--default div,
.section--white .loader--ellipsis div,
.section--white .loader--grid div,
.section--white .loader--facebook div {
    background: #00539f;
}

.section--white .loader--ripple div {
    border-color: #00539f;
}

.section--white .loader--ring div {
    border-color: #00539f transparent transparent transparent;
}

.section--white .loader--dual-ring:after {
    border-color: #00539f transparent #00539f transparent;
}


/* White loaders in blue background */

.section--blue {
    color: #fff;
    background: #00539f;
}

.section--blue .loader--spinner div:after,
.section--blue .loader--roller div:after,
.section--blue .loader--default div,
.section--blue .loader--ellipsis div,
.section--blue .loader--grid div,
.section--blue .loader--facebook div {
    background: #fff;
}

.section--blue .loader--ripple div {
    border-color: #fff;
}

.section--blue .loader--ring div {
    border-color: #fff transparent transparent transparent;
}

.section--blue .loader--dual-ring:after {
    border-color: #fff transparent #fff transparent;
}


/* Black loaders in red background */

.section--red {
    color: #444242;
    background: #e7002d;
}

.section--red .loader--spinner div:after,
.section--red .loader--roller div:after,
.section--red .loader--default div,
.section--red .loader--ellipsis div,
.section--red .loader--grid div,
.section--red .loader--facebook div {
    background: #444242;
}

.section--red .loader--ripple div {
    border-color: #444242;
}

.section--red .loader--ring div {
    border-color: #444242 transparent transparent transparent;
}

.section--red .loader--dual-ring:after {
    border-color: #444242 transparent #444242 transparent;
}


/* Red loaders in black background */

.section--black {
    color: #e7002d;
    background: #444242;
}

.section--black .loader--spinner div:after,
.section--black .loader--roller div:after,
.section--black .loader--default div,
.section--black .loader--ellipsis div,
.section--black .loader--grid div,
.section--black .loader--facebook div {
    background: #e7002d;
}

.section--black .loader--ripple div {
    border-color: #e7002d;
}

.section--black .loader--ring div {
    border-color: #e7002d transparent transparent transparent;
}

.section--black .loader--dual-ring:after {
    border-color: #e7002d transparent #e7002d transparent;
}


/* Yellow loaders in orange background */

.section--orange {
    color: #ffb011;
    background: #d7ff11;
}

.section--orange .loader--spinner div:after,
.section--orange .loader--roller div:after,
.section--orange .loader--default div,
.section--orange .loader--ellipsis div,
.section--orange .loader--grid div,
.section--orange .loader--facebook div {
    background: #ffb011;
}

.section--orange .loader--ripple div {
    border-color: #ffb011;
}

.section--orange .loader--ring div {
    border-color: #ffb011 transparent transparent transparent;
}

.section--orange .loader--dual-ring:after {
    border-color: #ffb011 transparent #ffb011 transparent;
}


/* Orange loaders in yellow background */

.section--yellow {
    color: #d7ff11;
    background: #ffb011;
}

.section--yellow .loader--spinner div:after,
.section--yellow .loader--roller div:after,
.section--yellow .loader--default div,
.section--yellow .loader--ellipsis div,
.section--yellow .loader--grid div,
.section--yellow .loader--facebook div {
    background: #d7ff11;
}

.section--yellow .loader--ripple div {
    border-color: #d7ff11;
}

.section--yellow .loader--ring div {
    border-color: #d7ff11 transparent transparent transparent;
}

.section--yellow .loader--dual-ring:after {
    border-color: #d7ff11 transparent #d7ff11 transparent;
}


/* Green loaders in purple background */

.section--purple {
    color: #008c00;
    background: #8c008c;
}

.section--purple .loader--spinner div:after,
.section--purple .loader--roller div:after,
.section--purple .loader--default div,
.section--purple .loader--ellipsis div,
.section--purple .loader--grid div,
.section--purple .loader--facebook div {
    background: #008c00;
}

.section--purple .loader--ripple div {
    border-color: #008c00;
}

.section--purple .loader--ring div {
    border-color: #008c00 transparent transparent transparent;
}

.section--purple .loader--dual-ring:after {
    border-color: #008c00 transparent #008c00 transparent;
}


/* Purple loaders in green background */

.section--green {
    color: #8c008c;
    background: #008c00;
}

.section--green .loader--spinner div:after,
.section--green .loader--roller div:after,
.section--green .loader--default div,
.section--green .loader--ellipsis div,
.section--green .loader--grid div,
.section--green .loader--facebook div {
    background: #8c008c;
}

.section--green .loader--ripple div {
    border-color: #8c008c;
}

.section--green .loader--ring div {
    border-color: #8c008c transparent transparent transparent;
}

.section--green .loader--dual-ring:after {
    border-color: #8c008c transparent #8c008c transparent;
}